// variables
$mobile-size: 375px;
$desktop-size: 1440px;

// color scheme
$neutral-0: hsl(0, 0%, 100%);
$neutral-300: hsl(252, 6%, 83%);
$neutral-500: hsl(245, 15%, 58%);
$neutral-700: hsl(245, 19%, 35%);
$neutral-900: hsl(248, 70%, 10%);
$orange-500: hsl(7, 88%, 67%);
$orange-700: hsl(7, 71%, 60%);
$orange-grad: hsl(7, 86%, 67%);

// fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
.small {
    font-weight: 400;
    font-size: 0.9rem;
    color: $neutral-300;
} .medium {
    font-weight: 500;
    font-size: 1.1rem;
} .big {
    font-weight: 700;
    font-size: 1.5rem;
} .huge {
    font-weight: 800;
    font-size: 2rem;
} .header-text {
    font-weight: 700;
}

// css reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// main
body {
    font-family: 'Inconsolata', sans-serif;
    font-size: 20px;
    color: $neutral-0;
    background-image: url('../images/background-mobile.png');
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    * {
        margin: 0.2rem;
    }
    .background-squiggle-top {
        width: 120px;
        position: absolute;
        right: 0;
    }
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    background-image: url('../images/pattern-lines.svg');
    p, h1 {
        margin-top: 1.5rem;
    }
}

#form {
    display: flex;
    flex-direction: column;
    .hidden {
        display: none;
    }
    .file-icon-wrapper, .file-upload-wrapper {
        border-radius: 10px;
    } .before-file-upload-text {
        text-align: left;
        padding: 1rem 0;
    } .file-upload-wrapper {
        background-color: rgba($neutral-500, 0.2);
        border: 1.5px dashed $neutral-700;
        padding: 3rem;
        margin-bottom: 1rem;
    } .file-icon-wrapper {
        background-color: rgba($neutral-500, 0.2);
        border: 1.5px solid $neutral-700;
        margin: 1.2rem 6.5rem;
        transition: 0.5s background-color ease;
        padding: 1rem;
        &:hover {
            background-color: rgba($neutral-500, 0.4);
        }
    } .file-input {
        display: none;
    }
    .personal-info-wrapper {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        text-align: left;
        * {
            z-index: 2;
            margin: 0.6rem 0;
        } .input, .btn {
            border-radius: 10px;
            padding: 1rem;
        } .input {
            border: 1px solid $neutral-500;
            background-color: rgba($neutral-900, 0.2);
            color: $neutral-300;
        } .btn {
            background-color: $orange-700;
            color: $neutral-900;
            border: 1px solid $orange-700;
            transition: 0.5s all ease;
            &:hover {
                background-color: $neutral-900;
                color: $orange-700;
            }
        }
    }
    .background-squiggle-bottom {
        z-index: 0;
        width: 70%;
        position: relative;
        left: -1rem;
        bottom: 15vh;
    }
}